<h1>Events</h1>
<ul>
  <% @events.each do |event| %>
    <div class="event">
      <li>
        <div class="title">
          <%= event.title %>
        </div>
        <div class="date">
          Date:
          <%= event.date %>
        </div>
        <div class="location">
          Location:
          <%= event.location %>
        </div>
      </li>
    </div>
  <% end %>
</ul>