<ul>
  <div class="event">
    <li>
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="date">
        Date:
        <%= @event.date %>
      </div>
      <div class="location">
        Location:
        <%= @event.location %>
      </div>
      <div class="location">
        <%= @event.description %>
      </div>
    </li>
  </div>
</ul>