/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Oswald';
  src: url('/assets/Oswald.ttf')
}

 * {
  font-family: 'Oswald', sans-serif;
  list-style-type: none;
  margin: 0;
}

.heading {
  padding: 0;
}

img {
  object-fit: cover;
  width: 100vw;
  height: 55vh;
  margin-bottom: 2vh;
}

.image {
  position: relative;
  color: white;
}

p {
  position:absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 10vh;
  font-weight: bold;
}

.page {
  background-color: rgb(246, 246, 246);
}

.events-heading {
  text-align: center;
}

.event-index {
  display: flex;
  flex-direction: column;
}

.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event {
  height: 32vh;
  width: 242px;
  background-color: rgb(249, 252, 252);
  margin: 18px;
  padding-top: 22px;
  padding-left: 18px;
 }

 .event:hover {
  box-shadow: 0 0 10px rgba(33,33,33,.2); 
}

 .location {
  color: rgb(78, 78, 78);
 }

 ul a {
  color: black;
 }

 .date {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 a {
  color: black;
  font-size: 3vh;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 45px;
  width: 100vw;
  align-items: center;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.left-header a {
  font-size: 28px;
  margin-left: 1vw;
  color:orangered;
}

.right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  white-space: nowrap;
}

.right-header a {
  font-size: min(1.9vw, 18px);
  
}

.login-header a {
  font-size: 34px;
  color:orangered;
}

.login-header {
  padding-top: 10vh;
  text-align: center;
}