.login, .signup, .forgot {
  display: grid;
  justify-content: center;
}

.input, .login-button, .signup-button, .forgot-button, .notice, .alert {
  width: min(400px, 75vw);
}

.login-button, .signup-button, .forgot-button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 4px;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.login-title {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.notice, .alert {
  font-size: min(3vh, 4vw);
  color: red;
  text-align: center;
  top: 80vh;
}