.form {
  padding: 1vw;
  display: flex;
  justify-content: center;
}

#error_explanation {
  text-align: center;
}

.field_with_errors {
  color: red;
}

h2 {
  padding-top: 3vh;
}

input {
  min-width: 15vw;
  width: 60vw;
  height: 6vh;
  font-size: 3vh;
}

h1 {
  text-align: center;
  margin-top: 2vh;
}

textarea {
  height: 15vh;
  width: 60vw;
  font-size: 3vh;
}

.button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 4px;
  width: 60vw;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.reserve-button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 4px;
  width: 20vw;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.event-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.list {
  padding: 0;
}

.event-title {
  text-align: left;
}

.event-location {
  color: rgb(78, 78, 78);
  font-size: 3vh;
 }

 .event-date {
  color: red;
  font-size: 3vh;
 }

 .attendee {
  font-size: 2.5vh;
 }

 .icon {
  width: 1em;
  height: 1em;
  margin: 0;
  display: inline-block;
 }

 br {
  display: block;
  content: "";
  margin-top: 0;
}
